version: '3.8'

services:
  # Dịch vụ DynamoDB Local
  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  # Giao diện Web GUI (dynamodb-admin)
  dynamodb-admin:
    image: aaronshaf/dynamodb-admin
    container_name: dynamodb-admin
    ports:
      - "8001:8001"
    environment:
      - DYNAMO_ENDPOINT=http://dynamodb-local:8000
      - AWS_REGION=us-west-2
      - AWS_ACCESS_KEY_ID=local
      - AWS_SECRET_ACCESS_KEY=local
    depends_on:
      - dynamodb-local
  app:
    build: .
    container_name: node-dynamodb-app
    platform: linux/amd64
    ports:
      - "3000:3000"
    entrypoint: ["node", "/app/src/app.js"]
    env_file:
      - .env
    depends_on:
      - dynamodb-local
      - dynamodb-admin
    volumes:
      - ./:/app
    working_dir: /app